definition.json
{"name":"4aa74452-7a41-4fec-af7c-56cde7634c45","id":"/providers/Microsoft.Flow/flows/4aa74452-7a41-4fec-af7c-56cde7634c45","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Crear una tarea en Planner desde Microsoft Forms y publicar un mensaje en Teams: 2","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a4967567-30ff-47d4-840a-5a4411391cf9","type":"User","tenantId":"154cc482-5090-4cd4-ac6c-b289f14bea00"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-03-24T02:02:15.420963Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"7350723e-79c2-476d-8a55-2ec2665881b2"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"gsRMFZBQ1EysbLKJ8UvqAGd1lqT_MNRHhApaRBE5HPlUQUtZMFZLNDRDOEpaVFFNTkFSVlhVTExTMi4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"f8f55055-66a8-4d35-9b25-309ab12b5e2a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"gsRMFZBQ1EysbLKJ8UvqAGd1lqT_MNRHhApaRBE5HPlUQUtZMFZLNDRDOEpaVFFNTkFSVlhVTExTMi4u","response_id":"@{triggerOutputs()?['body/resourceData/responseId']}"},"authentication":"@parameters('$authentication')"}},"Create_a_task":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"83ba46ea-134e-448d-a9a7-b1b4e57d2540"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_planner","connectionName":"shared_planner","operationId":"CreateTask_V2"},"parameters":{"body/planId":"tXGPrCg7H0yF0WrlrEyOD2QAAIJW","body/title":"@{triggerOutputs()?['body/resourceData/responseId']}@{outputs('Get_response_details')?['body/submitDate']}","body/bucketId":"T8aYMysqcke7RulDona6LGQAGzHg","body/assignments":""},"authentication":"@parameters('$authentication')"}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Create_a_task":["Succeeded"]},"metadata":{"operationMetadataId":"6c3f2f90-24da-43a3-80f4-0c45c208600b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostMessageToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/recipient/groupId":"28b32f4b-2001-4988-ad18-38cdf6a411c8","body/recipient/channelId":"19:T4QzUrxTAJbMOyAM1qttnxk4tB2622sy5pNcuNBUMBI1@thread.tacv2","body/messageBody":"<p>New task created. </p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Create_a_task":["Failed"]},"metadata":{"operationMetadataId":"9dda6e63-d9a8-46fb-b82b-cf0c86cddda0"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"outputs":{},"description":"Crea una tarea en Planner cuando se envía una nueva respuesta desde Microsoft Forms y también publica un mensaje en mi equipo en Microsoft Teams."},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-0ceb8367-2566-4da7-9257-c285ae759140","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_planner":{"connectionName":"shared-planner-cf468320-5c0d-4d6d-a6fd-3bdf2f1cb1b6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_planner","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-0dd8835e-5837-4244-84ec-ea43d15f8d8f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}